<!-- Your code here -->
<h1>Weather</h1>
<!-- Save params[:name] to variable @namess-->
<!-- <h2>Hello <%= @name%>!</h2> -->

<%= form_with local: true, method: "get" do |form| %>
  <p> City: <%= form.text_field :city %></p>
	<%= form.submit %>
<% end %>

<% City.all.each do |k, c| %>
  <% if not c.nil? %>
  	<h3> <%= c.name %></h3>
  	<p>
  		It's <%= ((9 / 5) * (c.weather[:temperature] - 273) + 32).ceil %>°F,
  		with <%= c.weather[:description] %>
  	</p>
  <% end %>
<% end %>
